.calculadoraDiv {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: black solid 2px;
    border-radius: 13px;
    padding: 10px 30px 10px 30px;
    
    font-weight: 500;
    font-family: Roboto, sans-serif;

    color: white;

    background-image: linear-gradient(90deg, #383838 0%, #797979 30%, #383838 100%);
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.resultado {
    margin: 5px;
    border: black solid 2px;
    border-radius: 10px;
    background-color: #3c682d;
    width: 100%;
    height: 305px;
}

.resultado1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.resultadoLinha {
    font-size: 10px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}

p {
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.5px;
    margin: 10px;
}