.caixa {
    width: 300px;
    padding: 7px;
    border: black solid 1px;
    border-radius: 30px;
    background-color: #bebebe;
    text-align: center;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}